@import "../scss/bootstrap-grid.scss";

$brightOrange: hsl(31, 77%, 52%);
$font: 'Big Shoulders Display', cursive;
$secondFont: 'Lexend Deca', sans-serif;
$white: hsla(0, 0%, 100%, 0.75);
$lightGray: hsl(0, 0%, 95%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);
$desktop: 1440px;
$mobile: 375px;

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-top: 40px;
        padding-bottom: 20px;
        @include media-breakpoint-up (xxl) {
        padding-top: 20px;
            }
    a { 
        color: hsl(228, 45%, 44%);
    }
}

.card {
    background-color: $brightOrange;
    padding-right: 20px;
    width: 20rem;
    @include media-breakpoint-up (lg){
        width: 15rem;
    }
    @include media-breakpoint-up (xl) {
        width: 15rem;
    }
    @include media-breakpoint-up (xxl) {
        width: 18rem;
    }

}

.row {
    padding-top: 90px;
    padding-left: 20px;
    margin-right: 20px;
    @include media-breakpoint-up (md) {
        padding-left: 200px;
    }
    @include media-breakpoint-up (lg) {
        margin-left: -150px;
    }
    @include media-breakpoint-up (xl) {
        margin-left: -120px;
    }
    @include media-breakpoint-up (xxl){
    padding-top: 100px;
    }
}

.card-title {
    font-family: $font;
    font-weight: 700;
    font-size: 30px;
    color: $lightGray;
    padding-left: 20px;
    @include media-breakpoint-up (xxl){
        font-size: 35px;
        }
}

.card-img-top {
    height: 80px;
    width: 80px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
}

.card-text {
    color: $white;
    font-size: 15px;
    font-family: $secondFont;
    padding-left: 20px;
    //padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}
    
.btn-primary {
    width: 150px;
    background-color: $lightGray;
}

.btn-primary:hover {
    color: $lightGray;
    border: 1px solid $lightGray;
}


.btn-sedans {
    color: $brightOrange;
}

.btn-sedans:hover {
    background-color: $brightOrange;
}

.btn-suv {
    color: $darkCyan;
}

.btn-suv:hover {
    background-color: $darkCyan;
}

.btn-luxury {
    color: $veryDarkCyan;
}

.btn-luxury:hover {
    background-color: $veryDarkCyan;
}

.learn {
    padding-left: 20px;
    padding-bottom: 40px;
}

.card-suv {
    background-color: $darkCyan; 
    padding-right: 20px;
    width: 20rem;
    @include media-breakpoint-up (lg) {
        width: 15rem;
    }
    @include media-breakpoint-up (xxl) {
        width: 18rem;
    }
}

.card-luxury {
    background-color: $veryDarkCyan;
    padding-right: 20px;
    width: 20rem;
    @include media-breakpoint-up (lg) {
        width: 15rem;
    }
    @include media-breakpoint-up (xxl) {
        width: 18rem;
    }
}